body {
    overflow: hidden;
}

.Container_Main {
    position: absolute;
    height: 100vh;
    width: calc(100% - 80px);
    left: 80px;
}

.Container_Home>.row {
    margin: 0;
    padding: 0;
}

.Container_Home,
.Container_Chat {
    height: 100%;
    width: 100%;
}

.Container_Home .welcome-title {
    color: white;
    background-size: cover;
    height: 105px;
    border-radius: 0px 0px 20px 20px;
    margin: 0 10px;
    padding: 0 10px;
    align-items: flex-end;
}

.Container_Home .main-content {
    height: calc(100vh - 105px);
}

.Container_Home .welcome-title .icon-weather {
    position: absolute;
    padding: 0;
    margin: 0;
    background-size: cover;
    width: 100px;
    height: 100px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url('/Assets/loading.svg');
}

.Container_Home .welcome-title h2 {
    font-size: 1.5em;
}

.Container_Home .welcome-title.nightfall {
    background-image: url('/Assets/Container/nightfall.svg');
    background-position-y: -135px;
}

.Container_Home .welcome-title.sunset {
    background-image: url('/Assets/Container/sunset.svg');
    background-position-y: -215px;
}

.Container_Home .welcome-title.sunrise {
    background-image: linear-gradient(315deg, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('/Assets/Container/sunrise.svg');
    background-position-y: -210px;
}

.Container_Home .friend-container {
    padding: 10px;
    margin: 10px;
    height: fit-content;
    max-width: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(255, 255, 255, 0.05);
}

.Container_Home .friend-container .friends {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.Container_Home .friend-container .friends .card-friend {
    margin: 0;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-size: cover;
}

.Container_Home .friend-container .friends .card-friend ion-icon {
    color: yellowgreen;
    margin-right: -20px;
    margin-bottom: -6px;
    width: 30px;
    height: 30px;
}

.Container_Home .friend-container .friends .add-friend {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.08);
    transition: 0.5s;
}

.Container_Home .friend-container .friends .add-friend ion-icon {
    font-size: 3.5em;
}

.Container_Home .friend-container .friends .add-friend:hover {
    color: rgba(255, 255, 255, 0.50);
    transition: 0.5s;
}

.Container_Home .addFriendDivComponent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, 0.90);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.Container_Home .addFriendDivComponent .main {
    width: 40vw;
    background-color: #272727;
    border-radius: 10px;
    padding: 12px;
    transition: 0.5s;
    min-width: 376px;
}

.Container_Home .addFriendDivComponent .main .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Container_Home .addFriendDivComponent .main .search-bar input {
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    padding: 0 20px;
    color: white;
    width: 90%;
}

.Container_Home .addFriendDivComponent .main .data-search {
    max-height: 0;
    transition: 1s;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -12px;
}

.Container_Home .addFriendDivComponent .main .data-search .addFriendCard {
    height: 100px;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.Container_Home .addFriendDivComponent .main .data-search .addFriendCard .img-friend {
    height: 100px;
    width: 100px;
    background-color: red;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    transition: 0.5s;
    background-size: cover;
}

.Container_Home .addFriendDivComponent .main .data-search .addFriendCard .img-friend:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-right: 10px;
    border-radius: 0 10px 10px 0;
    transition: 0.5s;
}

.Container_Home .addFriendDivComponent .main .data-search .addFriendCard .data {
    height: 100px;
    width: calc(100% - 200px);
}

.Container_Home .addFriendDivComponent .main .data-search .addFriendCard .btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    transition: 0.5s;
}

.Container_Home .addFriendDivComponent .main .data-search .addFriendCard .btn-add:hover {
    transition: 0.5s;
    color: white;
}

.Container_Home .NotificationComponentMain {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Container_Home .row.NotificationComponentMain-Title {
    padding: 0;
    margin: 0;
}

.Container_Home .row.NotificationComponentMain-Types {
    display: flex;
    height: fit-content;
    flex-direction: row;
    border-bottom: solid 0.5px #373737;
    margin: -10px;
    margin-top: 10px;
    padding: 0;
}

.Container_Home .row.NotificationComponentMain-Types .type {
    height: 30px;
    width: auto;
    color: #373737;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
}

.Container_Home .row.NotificationComponentMain-Types .type.active {
    height: 30px;
    width: auto;
    color: #53aaf9;
    margin: 0 10px;
    font-weight: 600;
    cursor: default;
    border-bottom: solid 2px #53aaf9;
    transition: 0.5s;
    box-shadow: inset 0px -11px 11px -14px #53aaf9;
}

.Container_Home .row.NotificationComponentMain-Content {
    padding: 0px;
    margin: 0;
    margin-top: 10px;
    position: absolute;
    top: 65px;
    width: calc(100% - 10px);
    height: calc(100% - 76px);
    overflow-y: scroll;
    padding-bottom: 10px;
}

.Container_Home .row.NotificationComponentMain-Content::-webkit-scrollbar {
    width: 10px;
}

.Container_Home .row.NotificationComponentMain-Content::-webkit-scrollbar-track {
    background-color: transparent;
}

.Container_Home .row.NotificationComponentMain-Content::-webkit-scrollbar-thumb {
    background-color: #1d59b9;
    border-radius: 20px;
    width: 5px;
}

.Container_Home .row.NotificationComponentMain-Content .Notification {
    height: 81px;
    border-bottom: solid 0.5px #373737;
    padding: 0;
    user-select: none;
    display: flex;
}

.Container_Home .row.NotificationComponentMain-Content .Notification:last-child {
    border-bottom: solid 0.5px #373737;
}

.Container_Home .row.NotificationComponentMain-Content .Notification.FriendRequest {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.Container_Home .row.NotificationComponentMain-Content .Notification.FriendRequest .imgProfile {
    padding: 10px 0;
    height: 100%;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.Container_Home .row.NotificationComponentMain-Content .Notification.FriendRequest .content {
    width: calc(100% - 60px);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.Container_Home .row.NotificationComponentMain-Content .Notification.FriendRequest .content .name {
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
}

.Container_Home .row.NotificationComponentMain-Content .Notification.FriendRequest .content .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    user-select: none;
}

.Container_Home .row.NotificationComponentMain-Content .Notification.FriendRequest .content .buttons .add {
    width: fit-content;
    height: 30px;
    background-color: #53aaf9;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.Container_Home .row.NotificationComponentMain-Content .Notification.FriendRequest .content .buttons .add:hover {
    background-color: #1d59b9;
    transition: 0.5s;
}

.Container_Home .row.NotificationComponentMain-Content .Notification.FriendRequest .content .buttons .deny {
    width: fit-content;
    height: 30px;
    background-color: #373737;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

.Container_Home .row.NotificationComponentMain-Content .Notification.FriendRequest .content .buttons .deny:hover {
    background-color: red;
    transition: 0.5s;
}

.Container_Home .row.NotificationComponentMain-Content .emptyRequest {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.Container_Chat .chats {
    border-right: solid 1px rgba(255, 255, 255, 0.08);
    height: 100%;
    padding: 0;
}

.Container_Chat .chats>* {
    margin: 0;
    padding: 0;
}

.Container_Chat .row.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
}

.Container_Chat .row.header ion-icon {
    width: 30px;
    height: 30px;
}

.Container_Chat .row.header>* {
    margin: 0;
    padding: 0;
    color: white;
    width: fit-content;
}

.Container_Chat .search-chat {
    padding: 0 10px 10px 10px;
    border-bottom: solid 0.5px #373737;
}

.Container_Chat .search-chat input {
    border-radius: 10px;
    padding: 8px 10px;
    border: 0;
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
}

.Container_Chat .search-chat input:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.Container_Chat .searchFriendComponent {
    position: fixed;
    width: 100vw!important;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, 0.90);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.Container_Chat .searchFriendComponent .main {
    width: 40vw;
    height: 90vh;
    background-color: #272727;
    border-radius: 10px;
    padding: 12px;
    transition: 0.5s;
    min-width: 376px;
}

.Container_Chat .searchFriendComponent .main .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.10);
}

.Container_Chat .searchFriendComponent .main .search-bar input {
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    padding: 0 20px;
    padding-bottom: 10px;
    color: white;
    border-bottom: solid 0.5px #373737;
    width: 90%;
}

.Container_Chat .searchFriendComponent .main .img-loading {
    width: 100%;
    height: calc(100% - 47px);
    max-height: calc(100% - 47px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container_Chat .searchFriendComponent .main .data-search {
    width: 100%;
    height: calc(100% - 47px);
    max-height: calc(100% - 47px);
    overflow-y: auto;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #373737;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .imgBx {
    width: 80px;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    margin-right: 10px;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .data {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .data h2 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2em;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .data h2 span {
    font-size: 0.75em;
    font-weight: 400;
    opacity: 0.5;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .actionBtns {
    position: absolute;
    display: flex;
    align-items: center;
    height: 80%;
    right: 10px;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .actionBtns .btn_custom {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .actionBtns .btn_custom:hover {
    opacity: 1;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .actionBtns .btn_custom:nth-child(1) {
    background-color: greenyellow;
}

.Container_Chat .searchFriendComponent .main .data-search .FriendContactCard .actionBtns .btn_custom:nth-child(2) {
    background-color: #53aaf9;
}

.Container_Chat .conversations {
    height: fit-content;
    max-height: calc(100% - 100px);
    overflow-y: auto;
}

.Container_Chat ::-webkit-scrollbar {
    position: absolute;
    width: 10px;
}

.Container_Chat ::-webkit-scrollbar-thumb {
    background-color: #1d59b9;
    border-radius: 10px;
}

.Container_Chat .conversations .chat_card {
    display: flex;
    height: 70px;
    transition: 0.5s;
}

.Container_Chat .conversations .chat_card:hover {
    background-color: rgba(255, 255, 255, 0.11);
    transition: 0.3s;
}

.Container_Chat .conversations .chat_card .profile-image {
    height: 100%;
    width: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.Container_Chat .conversations .chat_card .data {
    height: 100%;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.Container_Chat .conversations .chat_card img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.Container_Chat .conversations .chat_card .header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: white;
}

.Container_Chat .conversations .chat_card .data-msg {
    color: rgba(255, 255, 255, 0.3);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Container_Chat .conversations .chat_card .time {
    display: flex;
    font-size: 14px;
    align-items: flex-end;
}

.Container_Chat .conversations .chat_card .last-msg {
    max-width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Container_Chat .conversations .chat_card .header ion-icon {
    width: 30px;
    height: 30px;
}

.Container_Chat .ChatWindowComponent {
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.Container_Chat .ChatWindowComponent .main {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.Container_Chat .ChatWindowComponent .main.active {
    width: 60%;
}

.Container_Chat .ChatWindowComponent .main .header {
    height: 60px;
    width: 100%;
    padding: 0 10px;
    background-color: #1d1d1d;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Container_Chat .ChatWindowComponent .main .header .imgBx {
    width: 40px;
    position: relative;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.Container_Chat .ChatWindowComponent .main .header .imgBx img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Container_Chat .ChatWindowComponent .main .header .imgBx .state {
    position: absolute;
    right: -5px;
    bottom: -2px;
    border: 2px solid #1d1d1d;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: yellowgreen;
}

.Container_Chat .ChatWindowComponent .main .header .dataUser {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.Container_Chat .ChatWindowComponent .main .header .dataUser h3 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
}

.Container_Chat .ChatWindowComponent .main .header .dataUser h3 span {
    font-size: 0.65em;
    font-weight: 400;
    opacity: 0.5;
}

.Container_Chat .ChatWindowComponent .main .header .actionBtns {
    color: white;
    right: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
}

.Container_Chat .ChatWindowComponent .main .header .actionBtns .btn_custom {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s;
}

.Container_Chat .ChatWindowComponent .main .header .actionBtns .btn_custom:hover:nth-child(1) {
    background-color: greenyellow;
}

.Container_Chat .ChatWindowComponent .main .header .actionBtns .btn_custom:hover:nth-child(2) {
    background-color: purple;
}

.Container_Chat .ChatWindowComponent .main .header .actionBtns .btn_custom ion-icon {
    width: 25px;
    cursor: pointer;
    height: 25px;
}

.Container_Chat .ChatWindowComponent .main .messagesContainer {
    width: 100%;
    /* background: linear-gradient(215deg, rgba(121, 186, 242, 1) 0%, rgba(53, 154, 242, 1) 50%, rgba(4, 119, 191, 1) 100%); */
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 10px 60px;
    font-size: 15px;
    transition: 0.5s;
    padding-bottom: 65px;
}

.Container_Chat .ChatWindowComponent .main.active .messagesContainer {
    width: 100%;
    /* background: linear-gradient(215deg, rgba(121, 186, 242, 1) 0%, rgba(53, 154, 242, 1) 50%, rgba(4, 119, 191, 1) 100%); */
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 10px 20px;
    font-size: 15px;
    padding-bottom: 65px;
    transition: 0.5s;
}

.Container_Chat .ChatWindowComponent .main .messagesContainer::-webkit-scrollbar-track-piece:end {
    margin-bottom: 70px;
}

.Container_Chat .ChatWindowComponent .main .messagesContainer .msgCardContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.Container_Chat .ChatWindowComponent .main .messagesContainer .msgCardContainer.Me {
    align-items: flex-end;
}

.Container_Chat .ChatWindowComponent .main .messagesContainer .msgCardContainer.Other {
    align-items: initial;
}

.Container_Chat .ChatWindowComponent .main .messagesContainer .msgCardContainer.Me .msgCard {
    width: fit-content;
    height: fit-content;
    border-radius: 20px 20px 0 20px;
    max-width: 60%;
    background-color: #1d59b9;
    color: white;
    padding: 10px 15px;
    border: solid 1px #272727;
}

.Container_Chat .ChatWindowComponent .main .messagesContainer .msgCardContainer.Other .msgCard {
    width: fit-content;
    height: fit-content;
    border-radius: 20px 20px 20px 0;
    max-width: 60%;
    background-color: #272727;
    color: white;
    padding: 10px 15px;
}

.Container_Chat .ChatWindowComponent .main .messagesContainer .msgCardContainer.Other .time {
    font-size: 10px;
    height: 12px;
    display: flex;
    color: white;
    flex-direction: row;
}

.Container_Chat .ChatWindowComponent .main .messagesContainer .msgCardContainer.Me .time {
    font-size: 10px;
    height: 12px;
    display: flex;
    color: white;
    flex-direction: row;
}

.Container_Chat .ChatWindowComponent .main .inputChatWindow {
    position: absolute;
    bottom: 12px;
    left: 5px;
    width: calc(100% - 10px);
    height: 60px;
    border-radius: 36px;
    background: rgba(29, 29, 29, 0.90);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(29, 29, 29, 1);
    padding: 10px;
}

.Container_Chat .ChatWindowComponent .main .inputChatWindow ion-icon {
    width: 30px;
    height: 30px;
    color: #4a4a4a;
    transition: 0.5s;
    cursor: pointer;
}

.Container_Chat .ChatWindowComponent .main .inputChatWindow ion-icon:hover {
    color: #53aaf9;
}

.Container_Chat .ChatWindowComponent .main .inputChatWindow input {
    width: 100%;
    border: 0;
    background-color: #333333;
    border-radius: 12px;
    height: 100%;
    padding: 0 10px;
    margin-left: 10px;
    color: white;
    margin-right: 10px;
}

.Container_Chat .ChatWindowComponent .data {
    position: absolute;
    top: 0;
    right: -40%;
    height: 100%;
    padding: 0 10px;
    width: 40%;
    display: inline-block;
    transition: 0.5s;
    overflow: auto;
    background-color: #1d1d1d;
    border-left: solid 0.5px #333333;
}

.Container_Chat .ChatWindowComponent .data.active {
    right: 0;
}

.Container_Chat .ChatWindowComponent .data .banner {
    width: 100%;
    position: relative;
    height: 200px;
    background-size: cover;
    background-position-y: center;
    border-radius: 0 0 24px 24px;
    margin-bottom: 50px;
}

.Container_Chat .ChatWindowComponent .data .banner .profileImg {
    position: absolute;
    bottom: -50px;
    left: calc(50% - ((150px)/2));
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 8px #1d1d1d;
}

.Container_Chat .ChatWindowComponent .data .banner .profileImg img {
    width: 100%;
    height: 100%;
}

.Container_Chat .ChatWindowComponent .data .dataUser {
    width: 100%;
    display: flex;
    justify-content: center;
    word-break: break-all;
    color: white;
    text-align: center;
}

@media (orientation:portrait) {
    .Container_Main {
        position: absolute;
        height: calc(100% - 50px);
        width: 100%;
        left: 0px;
    }
}

@supports(mix-blend-mode: screen) {
    .Container_Chat .ChatWindowComponent .main .messagesContainer .msgCardContainer.Me .msgCard {
        background: blue;
        background: linear-gradient(180deg, rgba(1, 197, 209, 1) 0%, rgba(54, 83, 232, 1) 100%);
        background-attachment: fixed;
        color: white;
    }
}